<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdministradorAnotacion" />
                <binding name="BasicHttpBinding_IAdministradorEstudiante" />
                <binding name="BasicHttpBinding_IAdministradorMulta" />
                <binding name="BasicHttpBinding_IAdministradorDocente" />
                <binding name="BasicHttpBinding_IAdministradorFacultad" />
                <binding name="BasicHttpBinding_IAdministradorAuxiliar" />
                <binding name="BasicHttpBinding_IAdministradorEquipo" />
                <binding name="BasicHttpBinding_ISeguridad" />
                <binding name="BasicHttpBinding_IAdministradorAdministrativo" />
                <binding name="BasicHttpsBinding_IAdministradorAdministrativo">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_ISeguridad">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAdministradorRestriccion" />
                <binding name="BasicHttpsBinding_IAdministradorRestriccion">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAdministradorSede" />
                <binding name="BasicHttpsBinding_IAdministradorSede">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAdministradorTipoEquipo" />
                <binding name="BasicHttpsBinding_IAdministradorTipoEquipo">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAdministradorSede1" />
                <binding name="BasicHttpsBinding_IAdministradorSede1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IVisorEquipos" />
                <binding name="BasicHttpsBinding_IVisorEquipos">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorEstudiante">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorEquipo">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorFacultad">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorAnotacion">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorAuxiliar">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorDocente">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IAdministradorMulta">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IDeudores" />
                <binding name="BasicHttpsBinding_IDeudores">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IEstadisticasPrestamoEquipos" />
                <binding name="BasicHttpsBinding_IEstadisticasPrestamoEquipos">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IEstadoMultas" />
                <binding name="BasicHttpsBinding_IEstadoMultas">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IDetallePrestamoRecepcion" />
                <binding name="BasicHttpsBinding_IDetallePrestamoRecepcion">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IInactivarEstudiante" />
                <binding name="BasicHttpsBinding_IInactivarEstudiante">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IPrestamoRecepcion" />
                <binding name="BasicHttpsBinding_IPrestamoRecepcion">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMantenimiento" />
                <binding name="BasicHttpsBinding_IMantenimiento">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICopiasDeSeguridad" />
                <binding name="BasicHttpsBinding_ICopiasDeSeguridad">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59293/Administrador/AdministradorAdministrativo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorAdministrativo"
                contract="AdministradorAdministrativoService.IAdministradorAdministrativo"
                name="BasicHttpBinding_IAdministradorAdministrativo" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorAdministrativo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorAdministrativo"
                contract="AdministradorAdministrativoService.IAdministradorAdministrativo"
                name="BasicHttpsBinding_IAdministradorAdministrativo" />
            <endpoint address="http://localhost:59293/Seguridad/Seguridad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridad"
                contract="SeguridadService.ISeguridad" name="BasicHttpBinding_ISeguridad" />
            <endpoint address="https://localhost:44300/Seguridad/Seguridad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ISeguridad"
                contract="SeguridadService.ISeguridad" name="BasicHttpsBinding_ISeguridad" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorRestriccion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorRestriccion"
                contract="AdministradorRestriccionService.IAdministradorRestriccion"
                name="BasicHttpBinding_IAdministradorRestriccion" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorRestriccion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorRestriccion"
                contract="AdministradorRestriccionService.IAdministradorRestriccion"
                name="BasicHttpsBinding_IAdministradorRestriccion" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorTipoEquipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorTipoEquipo"
                contract="AdministradorTipoEquipoService.IAdministradorTipoEquipo"
                name="BasicHttpBinding_IAdministradorTipoEquipo" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorTipoEquipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorTipoEquipo"
                contract="AdministradorTipoEquipoService.IAdministradorTipoEquipo"
                name="BasicHttpsBinding_IAdministradorTipoEquipo" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorSede.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorSede"
                contract="AdministradorSedeService.IAdministradorSede" name="BasicHttpBinding_IAdministradorSede" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorSede.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorSede"
                contract="AdministradorSedeService.IAdministradorSede" name="BasicHttpsBinding_IAdministradorSede" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorSede.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorSede1"
                contract="AdministradorSedeService.IAdministradorSede" name="BasicHttpBinding_IAdministradorSede1" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorSede.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorSede1"
                contract="AdministradorSedeService.IAdministradorSede" name="BasicHttpsBinding_IAdministradorSede1" />
            <endpoint address="http://localhost:59293/VisorEquipos/VisorEquipos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisorEquipos"
                contract="VisorEquiposService.IVisorEquipos" name="BasicHttpBinding_IVisorEquipos" />
            <endpoint address="https://localhost:44300/VisorEquipos/VisorEquipos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IVisorEquipos"
                contract="VisorEquiposService.IVisorEquipos" name="BasicHttpsBinding_IVisorEquipos" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorEstudiante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorEstudiante"
                contract="AdministradorEstudianteService.IAdministradorEstudiante"
                name="BasicHttpBinding_IAdministradorEstudiante" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorEstudiante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorEstudiante"
                contract="AdministradorEstudianteService.IAdministradorEstudiante"
                name="BasicHttpsBinding_IAdministradorEstudiante" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorEquipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorEquipo"
                contract="AdministradorEquipoService.IAdministradorEquipo"
                name="BasicHttpBinding_IAdministradorEquipo" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorEquipo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorEquipo"
                contract="AdministradorEquipoService.IAdministradorEquipo"
                name="BasicHttpsBinding_IAdministradorEquipo" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorFacultad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorFacultad"
                contract="AdministradorFacultadService.IAdministradorFacultad"
                name="BasicHttpBinding_IAdministradorFacultad" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorFacultad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorFacultad"
                contract="AdministradorFacultadService.IAdministradorFacultad"
                name="BasicHttpsBinding_IAdministradorFacultad" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorAnotacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorAnotacion"
                contract="AdministradorAnotacionService.IAdministradorAnotacion"
                name="BasicHttpBinding_IAdministradorAnotacion" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorAnotacion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorAnotacion"
                contract="AdministradorAnotacionService.IAdministradorAnotacion"
                name="BasicHttpsBinding_IAdministradorAnotacion" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorAuxiliar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorAuxiliar"
                contract="AdministradorAuxiliarService.IAdministradorAuxiliar"
                name="BasicHttpBinding_IAdministradorAuxiliar" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorAuxiliar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorAuxiliar"
                contract="AdministradorAuxiliarService.IAdministradorAuxiliar"
                name="BasicHttpsBinding_IAdministradorAuxiliar" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorDocente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorDocente"
                contract="AdministradorDocenteService.IAdministradorDocente"
                name="BasicHttpBinding_IAdministradorDocente" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorDocente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorDocente"
                contract="AdministradorDocenteService.IAdministradorDocente"
                name="BasicHttpsBinding_IAdministradorDocente" />
            <endpoint address="http://localhost:59293/Administrador/AdministradorMulta.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorMulta"
                contract="AdministradorMultaService.IAdministradorMulta" name="BasicHttpBinding_IAdministradorMulta" />
            <endpoint address="https://localhost:44300/Administrador/AdministradorMulta.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAdministradorMulta"
                contract="AdministradorMultaService.IAdministradorMulta" name="BasicHttpsBinding_IAdministradorMulta" />
            <endpoint address="http://localhost:59293/Reportes/Deudores.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeudores"
                contract="DeudoresService.IDeudores" name="BasicHttpBinding_IDeudores" />
            <endpoint address="https://localhost:44300/Reportes/Deudores.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDeudores"
                contract="DeudoresService.IDeudores" name="BasicHttpsBinding_IDeudores" />
            <endpoint address="http://localhost:59293/Reportes/EstadisticasPrestamoEquipos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstadisticasPrestamoEquipos"
                contract="EstadisticasPrestamoEquiposService.IEstadisticasPrestamoEquipos"
                name="BasicHttpBinding_IEstadisticasPrestamoEquipos" />
            <endpoint address="https://localhost:44300/Reportes/EstadisticasPrestamoEquipos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEstadisticasPrestamoEquipos"
                contract="EstadisticasPrestamoEquiposService.IEstadisticasPrestamoEquipos"
                name="BasicHttpsBinding_IEstadisticasPrestamoEquipos" />
            <endpoint address="http://localhost:59293/Reportes/EstadoMultas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstadoMultas"
                contract="EstadoMultasService.IEstadoMultas" name="BasicHttpBinding_IEstadoMultas" />
            <endpoint address="https://localhost:44300/Reportes/EstadoMultas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEstadoMultas"
                contract="EstadoMultasService.IEstadoMultas" name="BasicHttpsBinding_IEstadoMultas" />
            <endpoint address="http://localhost:59293/Reportes/DetallePrestamoRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDetallePrestamoRecepcion"
                contract="DetallePrestamoRecepcionService.IDetallePrestamoRecepcion"
                name="BasicHttpBinding_IDetallePrestamoRecepcion" />
            <endpoint address="https://localhost:44300/Reportes/DetallePrestamoRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDetallePrestamoRecepcion"
                contract="DetallePrestamoRecepcionService.IDetallePrestamoRecepcion"
                name="BasicHttpsBinding_IDetallePrestamoRecepcion" />
            <endpoint address="http://localhost:59293/Gestion/InactivarEstudiante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInactivarEstudiante"
                contract="InactivarEstudianteService.IInactivarEstudiante"
                name="BasicHttpBinding_IInactivarEstudiante" />
            <endpoint address="https://localhost:44300/Gestion/InactivarEstudiante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IInactivarEstudiante"
                contract="InactivarEstudianteService.IInactivarEstudiante"
                name="BasicHttpsBinding_IInactivarEstudiante" />
            <endpoint address="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamoRecepcion"
                contract="PrestamoRecepcionService.IPrestamoRecepcion" name="BasicHttpBinding_IPrestamoRecepcion" />
            <endpoint address="https://localhost:44300/PrestamoRecepcion/PrestamoRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IPrestamoRecepcion"
                contract="PrestamoRecepcionService.IPrestamoRecepcion" name="BasicHttpsBinding_IPrestamoRecepcion" />
            <endpoint address="http://localhost:59293/Gestion/Mantenimiento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMantenimiento"
                contract="MantenimientoService.IMantenimiento" name="BasicHttpBinding_IMantenimiento" />
            <endpoint address="https://localhost:44300/Gestion/Mantenimiento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMantenimiento"
                contract="MantenimientoService.IMantenimiento" name="BasicHttpsBinding_IMantenimiento" />
            <endpoint address="http://localhost:59293/Gestion/CopiasDeSeguridad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICopiasDeSeguridad"
                contract="CopiasDeSeguridadService.ICopiasDeSeguridad" name="BasicHttpBinding_ICopiasDeSeguridad" />
            <endpoint address="https://localhost:44300/Gestion/CopiasDeSeguridad.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICopiasDeSeguridad"
                contract="CopiasDeSeguridadService.ICopiasDeSeguridad" name="BasicHttpsBinding_ICopiasDeSeguridad" />
        </client>
    </system.serviceModel>
</configuration>