<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--  Un valor de 1 indica que el lector de código de barras a emplear es serial, de lo contrario 0-->
    <add key="UseSerialPort" value="0" />
    <!--  Nombre del puerto serial, COM8 por ejemplo, donde se conecta el lector si es serial   -->
    <add key="SerialPortName" value="COM8" />
    <!--  Velocidad configurada para el lector de códigos de barras   -->
    <add key="SerialPortBaudRate" value="9600" />
    <!--  Tiempo (ms) que dura la pantalla que muestra cuando un equipo se muestra Ingres/Salio   -->
    <add key="TiempoRealimentacion" value="500" />
    <!--  Tiempo (ms) sin uso antes de limpiar la informacion de la pantalla de prestamo y recepción   -->
    <add key="TiempoClear" value="100000" />
    <!--   Tiempo (ms) sin uso antes de salir de la pantalla de prestamo y recepción -->
    <add key="TiempoLogOut" value="120000" />
    <!--  Posibles colores: DodgerBlue, RoyalBlue, SkyBlue, DeepSkyBlue   -->
    <add key="ColorControls" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdministradorAnotacion" />
        <binding name="BasicHttpBinding_IAdministradorEstudiante" maxReceivedMessageSize="1000000" />
        <binding name="BasicHttpBinding_IAdministradorDocente" maxReceivedMessageSize="1000000" />
        <binding name="BasicHttpBinding_IAdministradorMulta" />
        <binding name="BasicHttpBinding_IPrestamoRecepcion" />
        <binding name="BasicHttpBinding_ISeguridad" />
        <binding name="BasicHttpBinding_IAdministradorTipoEquipo" maxReceivedMessageSize="1000000" />
        <binding name="BasicHttpBinding_IAdministradorFacultad" />
        <binding name="BasicHttpBinding_IAdministradorAuxiliar" />
        <binding name="BasicHttpBinding_IAdministradorAdministrativo" />
        <binding name="BasicHttpBinding_IAdministradorEquipo" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IAdministradorRestriccion" />
        <binding name="BasicHttpBinding_IAdministradorSede" />
        <binding name="BasicHttpBinding_IVisorEquipos" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IInactivarEstudiante" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59293/Administrador/AdministradorAnotacion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorAnotacion" contract="AdministradorAnotacionService.IAdministradorAnotacion" name="BasicHttpBinding_IAdministradorAnotacion" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorEstudiante.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorEstudiante" contract="AdministradorEstudianteService.IAdministradorEstudiante" name="BasicHttpBinding_IAdministradorEstudiante" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorDocente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorDocente" contract="AdministradorDocenteService.IAdministradorDocente" name="BasicHttpBinding_IAdministradorDocente" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorMulta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorMulta" contract="AdministradorMultaService.IAdministradorMulta" name="BasicHttpBinding_IAdministradorMulta" />
      <endpoint address="http://localhost:59293/PrestamoRecepcion/PrestamoRecepcion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamoRecepcion" contract="PrestamoRecepcionService.IPrestamoRecepcion" name="BasicHttpBinding_IPrestamoRecepcion" />
      <endpoint address="http://localhost:59293/Seguridad/Seguridad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridad" contract="SeguridadService.ISeguridad" name="BasicHttpBinding_ISeguridad" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorTipoEquipo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorTipoEquipo" contract="AdministradorTipoEquipoService.IAdministradorTipoEquipo" name="BasicHttpBinding_IAdministradorTipoEquipo" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorFacultad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorFacultad" contract="AdministradorFacultadService.IAdministradorFacultad" name="BasicHttpBinding_IAdministradorFacultad" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorAuxiliar.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorAuxiliar" contract="AdministradorAuxiliarService.IAdministradorAuxiliar" name="BasicHttpBinding_IAdministradorAuxiliar" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorAdministrativo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorAdministrativo" contract="AdministradorAdministrativoService.IAdministradorAdministrativo" name="BasicHttpBinding_IAdministradorAdministrativo" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorEquipo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorEquipo" contract="AdministradorEquipoService.IAdministradorEquipo" name="BasicHttpBinding_IAdministradorEquipo" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorRestriccion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorRestriccion" contract="AdministradorRestriccionService.IAdministradorRestriccion" name="BasicHttpBinding_IAdministradorRestriccion" />
      <endpoint address="http://localhost:59293/Administrador/AdministradorSede.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministradorSede" contract="AdministradorSedeService.IAdministradorSede" name="BasicHttpBinding_IAdministradorSede" />
      <endpoint address="http://localhost:59293/VisorEquipos/VisorEquipos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisorEquipos" contract="VisorEquiposService.IVisorEquipos" name="BasicHttpBinding_IVisorEquipos" />
      <endpoint address="http://localhost:59293/Gestion/InactivarEstudiante.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInactivarEstudiante" contract="InactivarEstudianteService.IInactivarEstudiante" name="BasicHttpBinding_IInactivarEstudiante" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>